.navbar bg-base-100 {
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.546);
display: flex;
align-items: center;


}

.navbar-end {
    display: flex;
   justify-content: end;
   align-items: center;
}

.main-logo {
    width: 15rem;
    margin: 0.5vw;
    
}

.navbar-login {
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}

.app-navbar-menu {
 margin: 1rem;
}

@media screen and (max-width: 690px){
    .main-logo {
        /* display: none; */
        width: 10rem;
    }
}