
    .compact-card {
        display: flex;
        flex: 1;
        height: 7rem !important;
        border-radius: 0.7rem;
        color: white;
        padding: 1rem;
        position: relative;
        cursor: pointer;
      }

      .compact-card:hover {
        box-shadow: none;
      }


/* radial bar */
.radial-bar {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
  }

  .CircularProgressbar {
    width: 4rem !important;
    overflow: visible;
  }
  .CircularProgressbar-path {
    stroke: white !important;
    stroke-width: 1vw;
    filter: drop-shadow(1vw 2vw 3vw white);
  }
  .CircularProgressbar-trail {
    display: none;
  }
  .CircularProgressbar-text {
    fill: white !important;
 
  }
  .radial-bar > span {
    font-size: 0.8rem;
    font-weight: bold;
  }

  /* sideDetail*/
.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .detail > span:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
  }
  .detail > span:nth-child(3) {
    font-size: 12px;
  }

 /* ExpandedCard */
/* .expanded-card {
  position: absolute;
  width: 60%;
  height: 70vh;
  z-index: 9;
  left: 13rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
} */
.expanded-card{
  width: 80%;
  
  z-index: 22;
}
.expanded-card > span:nth-of-type(1) {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0px 0px 0px white;
}
.expanded-card > span:nth-of-type(2) {
  color: rgb(236, 236, 236);
  font-size: 15px;
} 

.chart-container {
  width: 90%;

}

/* @media screen and (max-width: 1200px) {
  .expanded-card{
    top: 2rem;
    width: 90vw;
    height: 45vh;
    left: 6rem;
  }
} */

@media screen and (max-width: 768px) {
  .expanded-card {
    top: 8rem;
    
    height: 50%;
    left: 1vw;
    width: 60%;
    margin-right: 2vw;
  }

  .compact-card {
  
    width: 60%;
  }


.chart-container {
  width: 90%;
  justify-content: center;
  align-items: center;
 
  
}

}