.ticket-pipeline {
    width: 80%;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
}

.ticket-status {
    width: 30%;
    background-color: aliceblue;
    margin: 3vw;
}

.column-container {
    width: 90vw;
    display: flex;
}

@media screen and (max-width: 690px) {
    
    .ticket-pipeline {
        width: 80%;
        background-color: rgb(202, 201, 201);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .column-container {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }
}

.column-group {
    width: 100vw;
    background-color: rgba(241, 239, 234, 0.521);
    
}

