.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
  }

  .logo {
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
  }
  /* .logo > span > span {
    color: var(--pink);
  } */
  
  .logo > img {
    margin-top: 1vw;
    width: 5vw;
   
  }

  .bars{
    display: none;
  }

  /* MENU CSS */

 
.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .menu-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    border-radius: 0.7rem;
    font-size: 14px;
  }
  
  .menu-items:hover {
    cursor: pointer;
  }
  
  .menu .menu-items:last-child {
    position: absolute;
    bottom: 2.3rem;
    width: 100%;
  } 

  .active {
    background: var(--activeItem);
    margin-left: 0;
  }
  .active::before {
    content: "";
    width: 8px;
    height: 100%;
    background: var(--orange);
    margin-right: calc(1rem - 8px);
  }

  /* Tablets */
@media screen and (max-width: 1200px) {
  .menu-items>span{
    display: none;
  }
  .logo{
    display: none;
  }
  .logo > img {
    margin-top: 4vw;
    width: 15vw;
   
  }
}

  @media screen and (max-width: 768px) {
    .sidebar{
      
      position: fixed;
      z-index: 21;
      background: #f6ddc8;
      width: 55%;
      padding-right: 1rem;
      height: 100%;
    }
    .menu-items>span{
      display: block;
    }
    .logo{
      display: flex;
    }
    .logo > img {
      margin-top: 4vw;
      width: 15vw;
     
    }
    .menu .menu-items:last-child {
      position: relative;
      margin-top: 6rem;
    }
    .bars{
      display: flex;
      position: fixed;
      top: 1rem;
      left:80%;
      background:#f6ddc8;
      padding:10px;
      border-radius: 10px;
      z-index: 22;
    }
    .close{
      left: -60%;
    }
  }

  